body {
    background: #3D3D3D;
    min-height: 100vh;

}

.login-card {
    min-width: 1060px;
    min-height: 720px;
    border-radius: 14px;
    overflow: hidden;
    background: #f4f4fb;
}

.left-panel {
    background-image: url("/static/bookings/images/picture.png");
    background-size: auto;
    background-position: center;
    min-height: 720px;
}

.form-control {
    background: transparent;
}

.btn-dark {
    width: 105px;
}

.btn-outline-dark {
    width: 105px;
}

.flight-btn {
    background: #1d2430;
    color: white;
    border: none;
    border-radius: 14px;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
}

.flight-btn,
.flight-btn:hover,
.flight-btn:focus,
.flight-btn:visited {
    background: #1d2430;
    color: white;
    text-decoration: none;
}

.back-btn {
    color: #1d2430;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 6px;
}

.back-btn:hover {
    color: #4b5563;
}

.form-buttons {
    display: flex;
    justify-content: flex-start;
    gap:12px;
}

.logo {
    width: 120px;
    height: auto;
}